body,
html {
  height: 100%;
}


#background {
  background-image: url('../img/arcadeBackground.png');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border {
  border: solid 2px #2288ee;
  width: 700px;
  height: 850px;

  position: absolute;
  left: 60px;
  top: 50px;
}

#hero {
  background-image: url('../img/hero.png');
  width: 54px;
  height: 70px;

  position: absolute;
  left: 385px;
  top: 829px;
}

.enemy {
  background-image: url('../img/enemy.png');
  width: 33px;
  height: 32px;

  position: absolute;
  left: 200px;
  top: 60px;
}

#missiles {
  width: 700px;
  height: 850px;
  position: absolute;
}

.missile {
  height: 12px;
  width: 5px;
  background-color: white;
  position: absolute;
}

#enemies {
  width: 700px;
  height: 850px;
  position: absolute;
}